html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #e7e7e7;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10vh 88vh 350vh 20vh;
    grid-template-areas: "header header"
                        "main main"
                        "aside aside"
                        "footer footer";
}

header {
    background-color: black;
    grid-area: header;
}

main{
    background-color: blue;
    grid-area: main;    
}

aside {
    background-color: rgb(128, 235, 22);
    grid-area: aside;
}

footer {
    background-color: brown;
    grid-area: footer;
}